@import 'utility.scss';

.inner{
  padding: 30px 0;
  background-color: #fcfff1;
}
.map_wrap{
  position: relative;
  width: fit-content;
  margin: 0 auto;
  .state_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    ul{
      position: relative;
      li{
        position: absolute;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.강원도{
          top: 133px;
          left: 300px;
        }
        &.경상남도{
          top: 522px;
          left: 281px;
        }
        &.경상북도{
          top: 362px;
          left: 363px;
        }
        &.충청남도{
          top: 335px;
          left: 107px;
        }
        &.전라남도{
          top: 593px;
          left: 88px;
        }
        &.경기도{
          top: 95px;
          left: 125px;
        }
        &.전라북도{
          top: 455px;
          left: 120px;
        }
        &.충청북도{
          top: 279px;
          left: 222px;
        }
        &.대구{
          top: 410px;
          left: 271px;
        }
        &.제주도{
          top: 731px;
          left: 51px;
        }
        &.울산·부산{
          top: 512px;
          left: 421px;
        }
        &.대전·세종{
          top: 402px;
          left: 178px;
        }
        &.인천{
          top: 131px;
          left: 51px;
        }
        >p{
          text-align: center;
          padding-bottom: 5px;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
}

.info_list{
  .info_cate{
    display: inline-block;
    // background-color: #A0C49D;
    border-radius: 25px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 10px;
    &.농작물경작체험{
      background-color: #65C18C;
    }
    &.만들기체험{
      background-color: #87C4FF;
    }
    &.전통문화체험{
      background-color: #FF6969;
    }
    &.기타{
      background-color: #9195F6;
    }
  }
  .info_title{
    margin-top: 5px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    word-break: keep-all;
  }
  .info_act{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    li{
      padding: 3px 5px;
      border-radius: 3px;
      font-size: 15px;
      &.act0{
        background-color: #DBC4F0;
      }
      &.act1{
        background-color: #FFCACC;
      }
      &.act2{
        background-color: #D4E2D4;
      }
    }
  }
}


