@import 'utility.scss';

.inner{
  padding: 30px 0;
  background-color: #fcfff1;
}
.map_wrap{
  position: relative;
  width: fit-content;
  margin: 0 auto;
  .state_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    ul{
      position: relative;
      li{
        position: absolute;
        transform: translate(-50%, -50%);
        &.state0{
          top: 133px;
          left: 300px;
        }
        &.state1{
          top: 522px;
          left: 281px;
        }
        &.state2{
          top: 362px;
          left: 363px;
        }
        &.state3{
          top: 335px;
          left: 107px;
        }
        &.state4{
          top: 593px;
          left: 88px;
        }
        &.state5{
          top: 95px;
          left: 125px;
        }
        &.state6{
          top: 465px;
          left: 134px;
        }
        &.state7{
          top: 279px;
          left: 222px;
        }
        &.state8{
          top: 410px;
          left: 271px;
        }
        &.state9{
          top: 738px;
          left: 51px;
        }
        &.state10{
          top: 512px;
          left: 421px;
        }
        &.state11{
          top: 402px;
          left: 178px;
        }
        &.state12{
          top: 131px;
          left: 51px;
        }
      }
    }
  }
}