@charset "UTF-8";
header .hd_wrap {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 50px 0 30px 0;
}
header .hd_wrap .main_title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #6ca58f;
}
header .hd_wrap .sub_title {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  color: #70bb75;
}

.inner {
  position: relative;
  padding: 30px 0;
  overflow: hidden;
}

.map_top {
  text-align: center;
}
.map_top a {
  font-size: 18px;
}

.map_wrap {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.map_wrap .map_img {
  position: relative;
}
.map_wrap .state_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.map_wrap .state_wrap ul {
  position: relative;
}
.map_wrap .state_wrap ul li {
  position: absolute;
  transform: translate(-50%, -50%);
}
.map_wrap .state_wrap ul li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map_wrap .state_wrap ul li > a p {
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  color: #0e7914;
}
.map_wrap .state_wrap ul li.강원도 {
  top: 133px;
  left: 300px;
}
.map_wrap .state_wrap ul li.경상남도 {
  top: 522px;
  left: 281px;
}
.map_wrap .state_wrap ul li.경상북도 {
  top: 362px;
  left: 363px;
}
.map_wrap .state_wrap ul li.충청남도 {
  top: 335px;
  left: 107px;
}
.map_wrap .state_wrap ul li.전라남도 {
  top: 593px;
  left: 88px;
}
.map_wrap .state_wrap ul li.경기도 {
  top: 95px;
  left: 125px;
}
.map_wrap .state_wrap ul li.전라북도 {
  top: 455px;
  left: 120px;
}
.map_wrap .state_wrap ul li.충청북도 {
  top: 279px;
  left: 222px;
}
.map_wrap .state_wrap ul li.대구 {
  top: 410px;
  left: 271px;
}
.map_wrap .state_wrap ul li.제주도 {
  top: 731px;
  left: 51px;
}
.map_wrap .state_wrap ul li.울산·부산 {
  top: 512px;
  left: 421px;
}
.map_wrap .state_wrap ul li.대전·세종 {
  top: 402px;
  left: 178px;
}
.map_wrap .state_wrap ul li.인천 {
  top: 131px;
  left: 51px;
}
.map_wrap .state_wrap ul li > p {
  text-align: center;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
}

.info_overlay {
  width: 100%;
}
.info_overlay .info_list {
  padding: 15px;
}
.info_overlay .info_list .info_cate {
  display: inline-block;
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  padding: 5px 10px;
}
.info_overlay .info_list .info_cate.농작물경작체험 {
  background-color: #AACB73;
}
.info_overlay .info_list .info_cate.만들기체험 {
  background-color: #34d9f2;
}
.info_overlay .info_list .info_cate.전통문화체험 {
  background-color: #FF9B9B;
}
.info_overlay .info_list .info_cate.건강 {
  background-color: rgb(248, 207, 0);
}
.info_overlay .info_list .info_cate.농촌체험 {
  background-color: rgb(235, 161, 235);
}
.info_overlay .info_list .info_title {
  margin-top: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  word-break: keep-all;
}
.info_overlay .info_list .info_act {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 15px;
}
.info_overlay .info_list .info_act li {
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 15px;
}
.info_overlay .info_list .info_act li.act0 {
  background-color: #D2E0FB;
}
.info_overlay .info_list .info_act li.act1 {
  background-color: #F9F3CC;
}
.info_overlay .info_list .info_act li.act2 {
  background-color: #D7E5CA;
}
.info_overlay .info_list .info_contact {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.info_overlay .info_list .info_contact li {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 5px;
  word-break: break-all;
  color: #787878;
  font-size: 15px;
  line-height: 22px;
}
.info_overlay .info_list .info_contact li.contact1::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/ico/contact1.svg) no-repeat center;
  background-size: contain;
  flex: 0 0 auto;
  margin-top: 4px;
}
.info_overlay .info_list .info_contact li.contact2::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/ico/contact2.svg) no-repeat center;
  background-size: contain;
  flex: 0 0 auto;
  margin-top: 4px;
}
.info_overlay .info_list .info_contact li.contact3::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/ico/contact3.svg) no-repeat center;
  background-size: contain;
  flex: 0 0 auto;
  margin-top: 4px;
}
.info_overlay .info_list .info_contact li > a {
  color: #abd286;
}
.info_overlay .map_link {
  padding: 10px 15px 15px;
  border-top: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info_overlay .map_link > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 0;
  background: url(../images/ico/kakao_map_icon.png) no-repeat center;
  background-size: contain;
}
.info_overlay .map_link > span {
  font-size: 17px;
  color: #77b53d;
  display: flex;
  align-items: center;
  gap: 5px;
}
.info_overlay .map_link > span::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/ico/contact4.svg) no-repeat center;
  background-size: contain;
}

.map_inner {
  position: relative;
}
.map_inner .close_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
}

.btn_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn_wrap .city_btn_wrap {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  /* 인터넷 익스플로러 */
  scrollbar-width: none;
  /* 파이어폭스 */
}
.btn_wrap .city_btn_wrap::-webkit-scrollbar {
  display: none;
}
.btn_wrap .city_btn_wrap > a {
  background-color: #fff;
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 25px;
  flex: 0 0 auto;
  border: 1px solid #dadce0;
  box-shadow: rgba(217, 219, 224, 0.5) 0px 0px 3px;
  transition: 0.2s;
}
.btn_wrap .city_btn_wrap > a:hover {
  background-color: #f6ffed;
  border-color: #c4d7b2;
}
.btn_wrap .home_btn {
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: rgb(170, 172, 176) 0px 0px 5px;
}
.btn_wrap .home_btn i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../../assets/images/ico/home.svg) no-repeat center;
  background-size: contain;
  font-size: 0;
  vertical-align: middle;
}

.bg_wrap .bg1 {
  position: absolute;
  display: inline-block;
  background: url(../images/img/bg1.png) no-repeat center;
  background-size: contain;
  transition: 0.3s;
  z-index: 1;
}
.bg_wrap .bg1 {
  top: 0;
  left: 0;
  transform: scaleX(-1);
  width: 250px;
  height: 250px;
}
.bg_wrap .bg2 {
  bottom: 0;
  right: 0;
}
.bg_wrap .bg3 {
  top: 150px;
  left: -25px;
  transform: rotate(-80deg);
  width: 200px;
  height: 200px;
}
.bg_wrap .bg4 {
  top: 0;
  right: 0;
  width: 250px;
  height: 250px;
}
.bg_wrap .bg2 {
  position: absolute;
  display: inline-block;
  background: url(../images/img/bg2.png) no-repeat center;
  background-size: contain;
  transition: 0.3s;
  z-index: 1;
}
.bg_wrap .bg1 {
  top: 0;
  left: 0;
  transform: scaleX(-1);
  width: 250px;
  height: 250px;
}
.bg_wrap .bg2 {
  bottom: 0;
  right: 0;
}
.bg_wrap .bg3 {
  top: 150px;
  left: -25px;
  transform: rotate(-80deg);
  width: 200px;
  height: 200px;
}
.bg_wrap .bg4 {
  top: 0;
  right: 0;
  width: 250px;
  height: 250px;
}
.bg_wrap .bg3 {
  position: absolute;
  display: inline-block;
  background: url(../images/img/bg3.png) no-repeat center;
  background-size: contain;
  transition: 0.3s;
  z-index: 1;
}
.bg_wrap .bg1 {
  top: 0;
  left: 0;
  transform: scaleX(-1);
  width: 250px;
  height: 250px;
}
.bg_wrap .bg2 {
  bottom: 0;
  right: 0;
}
.bg_wrap .bg3 {
  top: 150px;
  left: -25px;
  transform: rotate(-80deg);
  width: 200px;
  height: 200px;
}
.bg_wrap .bg4 {
  top: 0;
  right: 0;
  width: 250px;
  height: 250px;
}
.bg_wrap .bg4 {
  position: absolute;
  display: inline-block;
  background: url(../images/img/bg4.png) no-repeat center;
  background-size: contain;
  transition: 0.3s;
  z-index: 1;
}
.bg_wrap .bg1 {
  top: 0;
  left: 0;
  transform: scaleX(-1);
  width: 250px;
  height: 250px;
}
.bg_wrap .bg2 {
  bottom: 0;
  right: 0;
}
.bg_wrap .bg3 {
  top: 150px;
  left: -25px;
  transform: rotate(-80deg);
  width: 200px;
  height: 200px;
}
.bg_wrap .bg4 {
  top: 0;
  right: 0;
  width: 250px;
  height: 250px;
}
.bg_wrap .cloud1 {
  position: absolute;
  display: inline-block;
  background: url(../images/img/cloud1.png) no-repeat center;
  background-size: contain;
  transition: 0.3s;
  width: 500px;
  height: 500px;
}
.bg_wrap .cloud1 {
  width: 500px;
  height: 200px;
  top: 50%;
  left: -50%;
}
.bg_wrap .cloud2 {
  width: 400px;
  height: 200px;
  top: 0;
  right: -50%;
}
.bg_wrap .cloud2 {
  position: absolute;
  display: inline-block;
  background: url(../images/img/cloud2.png) no-repeat center;
  background-size: contain;
  transition: 0.3s;
  width: 500px;
  height: 500px;
}
.bg_wrap .cloud1 {
  width: 500px;
  height: 200px;
  top: 50%;
  left: -50%;
}
.bg_wrap .cloud2 {
  width: 400px;
  height: 200px;
  top: 0;
  right: -50%;
}

.ft_wrap {
  position: relative;
  padding: 40px 0 60px 0;
  margin-top: 40px;
  border-top: 1px solid #d3d3d3;
}
.ft_wrap .my_info_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.ft_wrap .my_info_list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 17px;
}
.ft_wrap .my_info_list li:first-child > a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../../assets/images/ico/github.svg) no-repeat center;
  background-size: contain;
}
.ft_wrap .my_info_list li .ani_txt {
  position: relative;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid rgb(179, 212, 86);
  border-radius: 6px;
  animation: blink-effect 2s step-end infinite;
  font-size: 15px;
}
.ft_wrap .my_info_list li .ani_txt::before {
  content: "";
  position: absolute;
  top: 97%;
  left: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  transform: rotate(45deg) translateX(-50%);
  background-color: #fff;
  border: solid rgb(179, 212, 86);
  border-width: 0px 1px 1px 0px;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .bg_wrap .bg1 {
    width: 150px;
    height: 150px;
  }
  .bg_wrap .bg2 {
    width: 150px;
    height: 150px;
  }
  .bg_wrap .bg3 {
    width: 150px;
    height: 150px;
  }
  .bg_wrap .bg4 {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 500px) {
  .inner {
    padding: 30px 16px;
  }
  .bg_wrap .bg1 {
    width: 100px;
    height: 100px;
  }
  .bg_wrap .bg2 {
    width: 100px;
    height: 100px;
  }
  .bg_wrap .bg3 {
    width: 100px;
    height: 100px;
  }
  .bg_wrap .bg4 {
    width: 100px;
    height: 100px;
  }
  .map_wrap .map_img {
    width: 328px;
  }
  .map_wrap .state_wrap ul li > a p {
    padding-bottom: 2px;
  }
  .map_wrap .state_wrap ul li.강원도 {
    top: 67px;
    left: 197px;
  }
  .map_wrap .state_wrap ul li.경상남도 {
    top: 350px;
    left: 202px;
  }
  .map_wrap .state_wrap ul li.경상북도 {
    top: 200px;
    left: 253px;
  }
  .map_wrap .state_wrap ul li.충청남도 {
    top: 219px;
    left: 64px;
  }
  .map_wrap .state_wrap ul li.전라남도 {
    top: 406px;
    left: 41px;
  }
  .map_wrap .state_wrap ul li.경기도 {
    top: 59px;
    left: 77px;
  }
  .map_wrap .state_wrap ul li.전라북도 {
    top: 324px;
    left: 80px;
  }
  .map_wrap .state_wrap ul li.충청북도 {
    top: 183px;
    left: 145px;
  }
  .map_wrap .state_wrap ul li.대구 {
    top: 250px;
    left: 192px;
  }
  .map_wrap .state_wrap ul li.제주도 {
    top: 480px;
    left: 26px;
  }
  .map_wrap .state_wrap ul li.울산·부산 {
    top: 318px;
    left: 290px;
  }
  .map_wrap .state_wrap ul li.대전·세종 {
    top: 267px;
    left: 133px;
  }
  .map_wrap .state_wrap ul li.인천 {
    top: 131px;
    left: 51px;
  }
  .info_overlay .info_list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .info_overlay .info_list .info_cate {
    order: 2;
  }
  .info_overlay .info_list .info_title {
    order: 1;
    margin-top: 0;
  }
  .info_overlay .info_list .info_act {
    order: 3;
    margin-top: 0;
    width: 100%;
  }
  .info_overlay .info_list .info_contact {
    order: 4;
    margin-top: 0;
  }
}/*# sourceMappingURL=main.css.map */